::-webkit-scrollbar {
    width: 8px;
}


::-webkit-scrollbar-thumb {
    background: #fafafa;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
}

.required::after {
    content: '*';
    color: red;
}

.form-info{
    font-style: italic;
}

.btn:disabled{
    pointer-events: all;
    cursor: not-allowed;
}